<!--
SWE-642 group : Anjali Sharma, Rachna Latkar, Bantwal Shreyas Mallya, Govind Sharma
AppComponent HTML template which gets called from index.html single page and display two links at the start of the application
 -->
<div style="text-align: center;">
  <nav style="text-align: right;margin: 5px;">
    <a routerLink="survey" style="font-weight: bolder;">Survey Form</a>&nbsp; | &nbsp;
    <a routerLink="surveysuccess" style="font-weight: bolder;">List All Surveys</a>&nbsp;&nbsp;
  </nav>
</div>

<router-outlet></router-outlet>
